@model Store.Web.ViewModels.RegisterFormViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_layoutLogin.cshtml";
}
<div>
    <div class="logo">
        <span class="db"><img src="~/Content/layout/assets/images/logo-icon.png" alt="logo" /></span>
        <h5 class="font-medium m-b-20">Sign Up to Admin</h5>
    </div>
    <!-- Form -->
    <div class="row">
        <div class="col-12">
            <form class="form-horizontal m-t-20" action="Register" method="post" id="frmRegister">
                <div class="form-group row ">
                    <div class="col-12 ">
                        @Html.TextBoxFor(s => s.Email, new { @class = "required form-control", @type = "Email", @placeholder = "Email", required = "required" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 ">
                        @Html.PasswordFor(s => s.Password, new { @class = "required form-control", @placeholder = "Password", required = "required" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 ">
                        @Html.PasswordFor(s => s.ComparePassword, new { @class = "required form-control", @placeholder = "Confirm Password", required = "required" })
                        @Html.ValidationMessageFor(m => m.ComparePassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12 ">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">I agree to all <a href="javascript:void(0)">Terms</a></label>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center ">
                    <div class="col-xs-12 p-b-20 ">
                        <button class="btn btn-block btn-lg btn-info " type="submit">SIGN UP</button>
                    </div>
                </div>
                <div class="form-group m-b-0 m-t-10 ">
                    <div class="col-sm-12 text-center ">
                        Already have an account? <a href="@Url.Action("Login","Account")" class="text-info m-l-5 "><b>Sign In</b></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

